Pandas Basics

learn more - https://pandas.pydata.org/docs/user_guide/index.html

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.925022  0.020494 -0.887943  2.255306
2013-01-02  0.014447  0.854558 -0.097705 -0.439022
2013-01-03 -1.209357 -0.990717 -0.071092 -0.550923
2013-01-04 -0.616036 -0.223322  1.672148 -0.053060
2013-01-05  2.220764 -0.445055  0.479351  0.822489
2013-01-06  1.395337  0.039749 -2.904197 -1.691644

In [5]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [11]:
df.head(2)

                   A         B         C         D
2013-01-01  0.925022  0.020494 -0.887943  2.255306
2013-01-02  0.014447  0.854558 -0.097705 -0.439022

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.616036 -0.223322  1.672148 -0.053060
2013-01-05  2.220764 -0.445055  0.479351  0.822489
2013-01-06  1.395337  0.039749 -2.904197 -1.691644

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.to_numpy()

array([[ 0.92502168,  0.02049436, -0.88794269,  2.25530593],
       [ 0.01444749,  0.85455768, -0.0977051 , -0.43902186],
       [-1.20935728, -0.99071693, -0.07109214, -0.55092312],
       [-0.61603587, -0.22332214,  1.67214773, -0.05305998],
       [ 2.22076434, -0.4450551 ,  0.47935106,  0.82248889],
       [ 1.39533655,  0.03974923, -2.90419725, -1.69164393]])

In [16]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.455029 -0.124049 -0.301573  0.057191
std    1.291074  0.611458  1.530855  1.349370
min   -1.209357 -0.990717 -2.904197 -1.691644
25%   -0.458415 -0.389622 -0.690383 -0.522948
50%    0.469735 -0.101414 -0.084399 -0.246041
75%    1.277758  0.034936  0.341740  0.603602
max    2.220764  0.854558  1.672148  2.255306