Strings

Learn More https://www.w3schools.com/python/python_strings.asp

In [38]:
"Hello"

'Hello'

In [39]:
a = "Hello"
a

'Hello'

In [40]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays

In [42]:
a = "Hello, World!"
a[4]

'o'

In [43]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [8]:
a = "Hello, World!"
len(a)

13

In [47]:
txt = "The best things in life are free!"
"best " in txt

False

In [50]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [51]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [52]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [56]:
b = "Hello, World!"
b[:5]

'Hello'

In [14]:
a = "Hello, World!"
a.upper()

'HELLO, WORLD!'

In [15]:
a = "Hello, World!"
a.lower()

'hello, world!'

In [57]:
a = "Hello, World!"
a.replace("H", "J")

'Jello, World!'

In [60]:
a = "Hello, World!"
a.split(",")

['Hello', ' World!']

In [61]:
age = 36
txt = "My name is John, and I am {}"
txt.format(age)

'My name is John, and I am 36'

In [62]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
myorder.format(quantity, itemno, price)

'I want 3 pieces of item 567 for 49.95 dollars.'

In [63]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
myorder.format(quantity, itemno, price)

'I want to pay 49.95 dollars for 3 pieces of item 567.'

In [64]:
f"I want to pay {price} dollars for {quantity} pieces of item {itemno}."

'I want to pay 49.95 dollars for 3 pieces of item 567.'

In [68]:
price = 49.96549861165165165
f"I want to pay {'%.2f'%price} dollars for {quantity} pieces of item {itemno}."

'I want to pay 49.97 dollars for 3 pieces of item 567.'

In [70]:
"We are the so-called \"Vikings\" from the north."

'We are the so-called "Vikings" from the north.'

In [73]:
print("We are the so-called \"Vikings\" from the north.\nDon't mess with us\tor we will chop you up")

We are the so-called "Vikings" from the north.
Don't mess with us	or we will chop you up